################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/SqlCore/bin/Debug/netcoreapp1.0
/src/SqlCore/obj/Debug/netcoreapp1.0
/.vs
